# 配置说明: https://phpstan.org/config-reference
parameters:
    level: 1
    paths:
        - src
    excludePaths:
        - src/console/controllers/TestController.php
    tmpDir: runtime/phpstan
    bootstrapFiles:
        - config/common/bootstrap.php
    # Level6 数组值类型检查: https://phpstan.org/config-reference#vague-typehints
    checkMissingIterableValueType: false
