.v-center {
  vertical-align: middle !important;
}

.h-center {
  text-align: center !important;
}

/* 覆盖adminLte */
/** a-sort */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: "\e155";
}

a.desc:after {
  content: "\e156";
}

.hidden {
  display: none;
}

.not-set {
  display: none;
}

.pagination > li > a {
  background-color: #fff;
}

/** logo */
.logo img {
  max-width: 100%;
  max-height: 40px;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .main-header .logo {
    display: none;
    height: 0;
  }

  .main-sidebar {
    padding-top: 50px;
  }
}

/** 左侧菜单 */
.user-panel {
  color: #fff;
}

/** 顶部菜单 */
.navbar-nav .header-menu {
  min-width: 100px;
  text-align: center;
}

.navbar-nav .header-menu .dropdown-menu-item {
  display: block;
  text-align: center;
  padding: 5px;
}

/** breadcrumb */
.content-header > .breadcrumb {
  float: none;
  position: relative;
  top: 0;
  right: 0;
  padding: 4px 2px;
  background: transparent;
}

/** header 返回按钮样式 */
.main-header .return-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 15px 15px;
  color: #ffffff;
  font-family: fontAwesome;
}

.main-header .return-toggle:before {
  content: "\f104";
}

.main-header .return-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}

.main-header .return-toggle:focus,
.main-header .return-toggle:active {
  background-color: #367fa9;
}

.main-header .return-toggle .icon-bar {
  display: none;
}

/* 覆盖图标的颜色 */
.fa.text-danger,
.glyphicon.text-danger {
  color: #ff0000;
}

/* field range 的 padding 不可更改 */
.kv-container-from, .kv-container-to {
  padding: 0 !important;
}

.kv-container-to > .form-control {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* 覆盖 table group 的颜色 */
td.kv-group-odd {
  background-color: #fff !important;
}

td.kv-group-even {
  background-color: #fff !important;
}

.table-responsive.kv-grid-container {
  overflow-x: inherit;
}

.kv-page-summary {
  border-top: 0;
}

.kv-merged-header {
  border-bottom: 1px solid #f4f4f4 !important;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
  border-bottom-width: 1px;
}

.table > tbody,
.table > tbody + tbody {
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}

/* 表单间距调小 */
.form-col-compact .col-md-3 {
  padding-right: 0;
  padding-left: 8px;
}

/* 评论背景 */
.box-comments {
  background: transparent;
}

.box-comments .image-normal img {
  width: auto !important;
  height: auto !important;
  float: inherit;
}

/* wangEditor 菜单 */
.w-e-text-container {
  z-index: 990 !important;
}

.w-e-toolbar .w-e-menu {
  z-index: 991 !important;
}

/* 表格统计数据的样式 */
.kv-panel-before .summary {
  padding: 7px 4px;
}

.kv-panel-before {
  border-bottom-color: #f4f4f4;
}

/* checkbox 大小 */
td.kv-row-select {
  padding: 0;
  margin: 0;
}

.kv-row-checkbox, .select-on-check-all {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
}

/* 所有的表单的必填项加*号 */
.form-group.required > label::after {
  content: "*" !important;
  color: #ff0000;
}

/* box */
.box-header .box-title {
  font-size: 16px;
}

/* modal */
.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  font-size: 16px;
}

.modal-header .close {
  margin-top: 2px;
}

/* 风格修改 */
.box, .panel, .btn, .alert {
  border: 0;
  border-radius: 0;
}

.dropdown-menu {
  border-top: 0;
  border-radius: 0;
}

.pagination > li > a, .pagination > li > span {
  border: 0 !important;
  border-radius: 0 !important;
}

.input-group-addon,
.form-control {
  height: 32px;
  padding: 4px 12px;
}

.btn,
.btn.active {
  transition: all 0.1s;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn-box-tool {
  box-shadow: none;
}
